@import "tailwindcss";

@theme {
    --color-museum-light: #e0f2fe;
    --color-museum: #0284c7;
    --color-museum-dark: #0c4a6e;
}

body {
    background-color: #f8fafc;
    font-family: 'Inter', sans-serif;
}